
{% block main %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>{{ title }}</h1>
            <h1>{{ date }}</h1>
            <table>
                <thead>
                    <tr>
                        <th scope="col">DEF</th>
                        <th scope="col">コース名</th>
                    </tr>
                </thead>
                <tbody>
                    {% for golfHouseData in golfHouseList%}
                        <tr>
                            <td>{{golfHouseData.house_id}}</td>
                            <td>{{golfHouseData.house_name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table>
                <thead>
                    <tr>
                        <th scope="col">LISTVIEWS</th>
                        <th scope="col">コース名</th>
                    </tr>
                </thead>
                <tbody>
                    {% for golfHouseData in object_list%}
                        <tr>
                            <td>{{golfHouseData.house_id}}</td>
                            <td>{{golfHouseData.house_name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>
{% endblock %}